// SASS tremplate file

/*!

Threme Name: JC.MIN.2K13
Desitpion: Minimist(ish) threme designed and built for jakecleary.net.
Author: Jake Cleary
Author URI: http://jakecleary.net

*/

//	    TABLE OF CONENTS:

//		00 - Variables
//		01 - Reset
//  	02 - Core Structure
//		03 - Typography
//  	04 - Header
//  	05 - Sidebar
//      06 - Footer
//      07 - Home
//      08 - Page & Single
//      09 - Buttons & Icons
//      10 - Forms


//		00 - Variables
/////////////////////////////////////////

$primary: #20B2AA;
$secondary: #222;
$t_primary: #FFF;
$t_secondary: #222;

//		01 - Reset
/////////////////////////////////////////

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
::selection {
	background: $primary;
}
::-moz-selection {
	background: $primary;
}

//		02 - Core Structure
/////////////////////////////////////////

html, body {
    height: 100%;
    min-height: 100%;
}
body {
	font-family: 'Roboto Slab', 'Times' serif;
	font-size: 100%;
	line-height: 1.6108339887;
	background-color: $secondary;
	color: $t_primary;
}
.page-content {
	height: 100%;
}
header.page {
	width: 333px;
	float: left;
	height: 100%;
	padding: 20px 50px;
	text-align: center;
	position: fixed;
	z-index: 100;
	background: $primary;
}
.primary-content {
	width: 45%;
	float: left;
	padding: 20px 40px;
	margin-left: 353px;
}

//		03 - Typography
/////////////////////////////////////////

p, li {
}
p, ul {
	margin-bottom: 1rem;
}
h4, h3, h2, h1 {

}
h4 {
	font-size: 2.5rem;
}
h3 {
	font-size: 2.4rem;
}
h2 {
	font-size: 1.875rem;

}
h1 {
	font-size: 2.5rem;
}
ul {

}
li {

}
a {
	font-size: 1rem;
	color: inherit;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	&:hover {
		color: $primary;
	}
}

//		04 - Header
////////////////////////////////////////

header.page {
	h1, p {
		color: $t_secondary;
	}
	.me {
		border-radius: 50%;
		margin: 20px 0 0;
		box-shadow: 1px 1px #FFF;
		width: 150px;
		height: 150px;
		cursor: pointer;
		-webkit-transition: .3s all;
		-moz-transition: .3s all;
		-o-transition: .3s all;
		-ms-transition: .3s all;
		transition: .3s all;
		&:hover {
			-webkit-transform: rotate(5deg);
			-moz-transform: rotate(5deg);
			-o-transform: rotate(5deg);
			-ms-transform: rotate(5deg);
			transform: rotate(5deg);
		}	
	}
	h1 {
		margin: .25em 0 .4em;
		text-shadow: 1px 1px 0px rgb(255,255,255);
		text-shadow: 1px 1px 0px rgba(255,255,255,.8);
	}
	nav {
		margin: 20px 0 25px;
		i {
			font-size: 24px;
			padding: 0 10px;
			position: relative;
			span {
				position: absolute;
				bottom: -25px;
				left: 50%;
				color: #fff;
				background: $secondary;
				padding: 4px;
				display: block;
				white-space: nowrap;
				font-size: .77rem;
				border-radius: 3px;
				opacity: 0;
				transition: opacity .2s;
				-webkit-transition: opacity .2s;
				-moz-transition: opacity .2s;
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 0;
					height: 0;
					top: -10px;
					left: 50%;
					margin-left: -5px;
					border: 5px solid transparent;
					border-bottom-color: $secondary; 
				}
			}
			&:hover span {
				opacity: 1;
			}
			&.about span {
				margin-left: -34px;
			}
			&.twitter span {
				margin-left: -24.5px;
			}
		}
	}
	a {
		color: #FFF;
		background-color: none;		
		&:hover {
			color: #222;
		}	
	}
	p {
		font-weight: bold;

		text-shadow: 1px 1px 0px rgba(255,255,255,.8);
	}

}

//		05 - Home
////////////////////////////////////////

article {
	margin-bottom: 6.25rem;
	&.first, &.single {
		margin-top: 12.5rem;
	}
	header {
		padding-right: 50px;
		margin-bottom: 1.6rem;
		position: relative;
		padding-bottom: 1rem;
		border-bottom: 4px solid $primary;
	}
	h2 {
		line-height: 1rem;
	}
	time {
		position: absolute;
		bottom: .5rem;
		right: 0;
		font-size: 0.625em;
	}
	p {
		clear: both;
	}
	.excerpt {
		margin-bottom: 1.6rem;
	}
	.content {
		a {
			border-bottom: 1px solid $primary;
			padding-bottom: 1px;
			&:hover {
				border-bottom-color: $t_primary;
			}
		}
	}
}

//		06 - Talk
////////////////////////////////////////

#talk {
	width: 100%;
	margin: auto;
	input, textarea {
		width: 100%;
		margin: 0 0 0px;
		border: none;
		background: $primary;
		padding: 20px;
		color: $t_primary;
		font-family: 'Roboto Slab', 'Times' serif;
		font-size: 2rem;
	}
	#name {
		margin-top: 20px;
	}
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    $t_primary;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $t_primary;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $t_primary;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    $t_primary;
}

//		07 - Media Queries
////////////////////////////////////////

@media screen and (max-width : 900px ) {
	header.page {
		float: none;
		width: 100%;
		height: auto;
		text-align: left;
		top: 0;
		position: static;
		overflow: hidden;
		.me {
			float: left;
			width: 90px;
			height: auto;
			margin: 0 35px 0 0;
		}
		h1 {
			line-height: 1rem;
			margin-top: 12px;
		}
		nav, ul {
			margin: 0;
		}
		p {
			display: none;
		}
	}
	
	.primary-content {
		width: 100%;
		float: none;
		padding: 0 40px 20px;
		margin: 10rem 0 0 0;
		article.first {
			margin-top: 0;
		}
		article.single {
			margin-top: 3rem;
		}
	}
}

@media screen and (max-width : 480px ) {
	header.page {
		h1 {
			font-size: 24px;
		}
		ul li {
			font-size: 14px;
		}
	}
}